In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [4]:
train = pd.read_csv('train.tsv', delimiter='\t')
test = pd.read_csv('test.tsv', delimiter='\t')
sample = pd.read_csv('sample_submit.csv', header = None)

In [5]:
train.head()

,id,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,1

In [6]:
test.head()

,id,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,8646,2012-01-01,1,1,1,0,0,0,0,1,0.36,0.3788,0.66,0.0000
1,8647,2012-01-01,1,1,1,1,0,0,0,1,0.36,0.3485,0.66,0.1343
2,8648,2012-01-01,1,1,1,2,0,0,0,1,0.32,0.3485,0.76,0.0000
3,8649,2012-01-01,1,1,1,3,0,0,0,1,0.30,0.3333,0.81,0.0000
4,8650,2012-01-01,1,1,1,4,0,0,0,1,0.28,0.3030,0.81,0.0896

In [7]:
sample.head()

      0    1
0  8646  335
1  8647  423
2  8648  516
3  8649  200
4  8650  237

In [9]:
train.isnull().sum()

id            0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
cnt           0
dtype: int64

In [10]:
test.isnull().sum()

id            0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
dtype: int64

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8645 entries, 0 to 8644
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          8645 non-null   int64
 1   dteday      8645 non-null   object
 2   season      8645 non-null   int64
 3   yr          8645 non-null   int64
 4   mnth        8645 non-null   int64
 5   hr          8645 non-null   int64
 6   holiday     8645 non-null   int64
 7   weekday     8645 non-null   int64
 8   workingday  8645 non-null   int64
 9   weathersit  8645 non-null   int64
 10  temp        8645 non-null   float64
 11  atemp       8645 non-null   float64
 12  hum         8645 non-null   float64
 13  windspeed   8645 non-null   float64
 14  cnt         8645 non-null   int64
dtypes: float64(4), int64(10), object(1)
memory usage: 1013.2+ KB

In [12]:
train = train.drop('yr', axis = 1)

In [14]:
test = test.drop('yr', axis = 1)

In [15]:
test.head()

,id,dteday,season,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,8646,2012-01-01,1,1,0,0,0,0,1,0.36,0.3788,0.66,0.0000
1,8647,2012-01-01,1,1,1,0,0,0,1,0.36,0.3485,0.66,0.1343
2,8648,2012-01-01,1,1,2,0,0,0,1,0.32,0.3485,0.76,0.0000
3,8649,2012-01-01,1,1,3,0,0,0,1,0.30,0.3333,0.81,0.0000
4,8650,2012-01-01,1,1,4,0,0,0,1,0.28,0.3030,0.81,0.0896

In [17]:
train.corr()

,id,season,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,cnt
id,1.000000,0.824925,0.996461,-0.008772,0.031203,0.010960,0.003052,-0.020071,0.259605,0.271344,0.188215,-0.154082,0.178084
season,0.824925,1.000000,0.829054,-0.012179,-0.001116,-0.013639,0.013763,-0.015351,0.343535,0.351910,0.191793,-0.154735,0.221719
mnth,0.996461,0.829054,1.000000,-0.011814,0.029806,0.012024,0.003573,-0.020662,0.260442,0.272676,0.188061,-0.155645,0.179273
hr,-0.008772,-0.012179,-0.011814,1.000000,-0.000929,-0.005618,0.003792,-0.016521,0.120548,0.116382,-0.251188,0.125153,0.407486
holiday,0.031203,-0.001116,0.029806,-0.000929,1.000000,-0.076324,-0.247934,0.008001,-0.020059,-0.026915,-0.022895,0.000502,-0.022912
weekday,0.010960,-0.013639,0.012024,-0.005618,-0.076324,1.000000,0.018572,0.027766,-0.038969,-0.042439,-0.051307,0.039586,-0.004321
workingday,0.003052,0.013763,0.003573,0.003792,-0.247934,0.018572,1.000000,0.068628,0.053405,0.052551,0.025305,0.010509,0.011704
weathersit,-0.020071,-0.015351,-0.020662,-0.016521,0.008001,0.027766,0.068628,1.000000,-0.092036,-0.096556,0.407634,0.048414,-0.143288
temp,0.259605,0.343535,0.260442,0.120548,-0.020059,-0.038969,0.053405,-0.092036,1.000000,0.992022,-0.039525,-0.005989,0.451233
atemp,0.271344,0.351910,0.272676,0.116382,-0.026915,-0.042439,0.052551,-0.096556,0.992022,1.000000,-0.023541,-0.046120,0.447029
hum,0.188215,0.191793,0.188061,-0.251188,-0.022895,-0.051307,0.025305,0.407634,-0.039525,-0.023541,1.000000,-0.263196,-0.288615
windspeed,-0.154082,-0.154735,-0.155645,0.125153,0.000502,0.039586,0.010509,0.048414,-0.005989,-0.046120,-0.263196,1.000000,0.085356
cnt,0.178084,0.221719,0.179273,0.407486,-0.022912,-0.004321,0.011704,-0.143288,0.451233,0.447029,-0.288615,0.085356,1.000000

In [19]:
trainX = train[['season','hr','temp','atemp']]
y = train['cnt']
testX = test[['season','hr','temp','atemp']]

In [22]:
import

0    16
1    40
2    32
3    13
4     1
Name: cnt, dtype: int64

In [23]:
from sklearn.linear_model import LinearRegression as LR

In [24]:
model = LR()

In [25]:
model.fit(trainX, y)

LinearRegression()

In [26]:
pred =  model.predict(testX)

In [27]:
pred

array([ 11.11251371,  18.91873355,  14.96135639, ..., 134.54072486,
       141.20061273, 148.24176961])

In [34]:
i = 0
for d in pred:
    if d < 0:
        d = 0
    pred[i] = d
    i = i + 1

In [36]:
sample[1] = pred

In [37]:
sample.to_csv('submit1.csv', header=None, index=None)